@tailwind base;
@tailwind components;
@tailwind utilities;
/* selection text style*/
::selection {
  text-shadow: 0 0 6px #86b0f0, 0 0 20px rgba(75, 111, 230, 0.747);
  color: rgb(51, 49, 85);
}
/* selection text style*/
/* hi wave animation */
.hi{
  animation: wave 5s ease-in-out 3.7s infinite alternate;
  -webkit-animation: wave 5s ease-in-out 3.7s infinite alternate;
}
@keyframes wave {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform-origin: bottom right;
  }
  10%{
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform-origin: bottom right;
  }  
  20%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform-origin: bottom right;
}  
}
/* hi wave animation */
/* btns style  */
/* @layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
} */
.btn{
  @apply flex justify-center items-center gap-3 flex-row shadow-xl w-full md:w-fit hover:scale-[1.05] transition-all active:scale-[0.93];
  padding: 10px 20px;
  border-radius: 9999px;
  background: #e0e0e0;
  color: #0b0a1d;
  font-weight: medium;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  font-size: 1.003rem;
}
.btn.primary{
  background: #0b0a1d;
  color: aliceblue;
}
/* btns style  */
/*  */
.headerText{
@apply text-4xl font-bold uppercase 
}
.subText{
  @apply text-lg font-semibold text-gray-500 
}
.pragraph{

}
/*  */
/*  */
.slider{
  @apply w-[350px] md:w-[550px]  ;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.slider-track{
  display: flex;
  width: calc(18*80px);
  animation:  scrollVertical 15s  linear infinite;
  -webkit-animation:  scrollVertical 15s  linear infinite;
}
.slide{
  @apply shadow-xl ;
  font-weight: bold;
  font-size: 40px;
  width: 80px;
  box-sizing: border-box;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background: #e9e9e9;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@keyframes scrollVertical {
  0%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
  100%{
    transform: translateX(calc(-80*9px) );
    -webkit-transform: translateX(calc(-80*9px) );
    -moz-transform: translateX(calc(-80*9px) );
    -ms-transform: translateX(calc(-80*9px) );
    -o-transform: translateX(calc(-80*9px) );
}
}
.slider::before,
.slider::after {
background: linear-gradient(to right, rgb(249 250 251) 0%, rgba(255,255,255,0) 100%);
content:'';
height: 100%;
position: absolute;
width: 15%;
z-index: 2;
}
.slider::before{
left: 0;
top: 0;
}
.slider::after {
    right: 0; top: 0; transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); -o-transform: rotateZ(180deg);
}
/*  */