@tailwind base;
@tailwind components;
@tailwind utilities;

.grainy-bg {
  position: relative;
}

.grainy-bg::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.05;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: -1;
}

/* selection text  and html and body style*/
::selection {
  text-shadow: 0 0 6px #86b0f0, 0 0 20px rgba(75, 111, 230, 0.747);
  color: rgb(51, 49, 85);
}
html {
  scroll-behavior: smooth;
}
/* selection text style*/
/* //////////////////////////////////////// */
/* hi wave animation */
.hi {
  animation: wave 5s ease-in-out 3.7s infinite alternate;
  -webkit-animation: wave 5s ease-in-out 3.7s infinite alternate;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform-origin: bottom right;
  }
  10% {
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform-origin: bottom right;
  }
  20% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform-origin: bottom right;
  }
}
/* hi wave animation */
/* //////////////////////////////////////// */
/* btns style  */
.btn {
  @apply flex justify-center items-center gap-3 flex-row  w-full md:w-fit hover:scale-[1.05] transition-all active:scale-[0.93];
  padding: 8px 20px;
  box-shadow: 0px 8px 9px 0px #4d4d4d42;
  border-radius: 9999px;
  background: #e0e0e0;
  color: #0b0a1d;
  font-weight: medium;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
  font-size: 1.003rem;
}

.btn.primary {
  background: #0b0a1d;
  color: aliceblue;
}
/* btns style  */
/* //////////////////////////////////////// */
/* headerText and subText and paragraph */
.headerText {
  @apply text-5xl font-bold tracking-tighter;
}
.subText {
  @apply text-lg font-semibold text-center text-gray-500;
}
.paragraph {
  @apply text-2xl text-center text-gray-600;
}
/* headerText and subText and pragraph */
/* //////////////////////////////////////// */
/* vertical infinity scroll */
.slider {
  @apply w-[350px] md:w-[650px];
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.slider-track {
  display: flex;
  width: calc(var(--tag-count) * 2 * 145px);
  animation: scrollVertical calc(var(--tag-count) * 2s) linear infinite;
  -webkit-animation: scrollVertical calc(var(--tag-count) * 3s) linear infinite;
}
.slide {
  font-weight: bold;
  font-size: 18px;
  width: 145px; /*  width of one skill  */
  box-sizing: border-box;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@keyframes scrollVertical {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(var(--tag-count) * -145px));
    -webkit-transform: translateX(calc(var(--tag-count) * -145px));
    -moz-transform: translateX(calc(var(--tag-count) * -145px));
    -ms-transform: translateX(calc(var(--tag-count) * -145px));
    -o-transform: translateX(calc(var(--tag-count) * -145px));
  }
}

.slider::before,
.slider::after {
  @apply content-[""] h-full absolute w-[30%] z-[2] bg-gradient-to-r from-gray-200 to-transparent dark:from-[rgb(23_24_28)] dark:to-transparent;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}
/* vertical infinity scroll */
/* //////////////////////////////////////// */
/* Question style  */
.Question {
  @apply absolute flex justify-center items-center text-[24px] py-2 px-8 font-semibold text-gray-50 shadow-xl rounded-full;
  /* background-image: linear-gradient(180deg, #3e7fff, #50a8ff);*/
  /* box-shadow: 0 0 50px 2px rgba(103, 154, 204, 0.3);  */
  background-image: linear-gradient(180deg, #2f70f1, #53a9ff);
  box-shadow: 0px 10px 10px 0px rgba(103, 141, 179, 0.301);
}
.skill {
  background-image: linear-gradient(180deg, #2f70f1, #53a9ff);
  box-shadow: 0px 9px 10px 0px rgb(104 136 167 / 48%);
  @apply shadow-xl dark:!shadow-[#42424275];
}

/* Question style  */
/* projectCard */
.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.2;
  mix-blend-mode: overlay;
  pointer-events: none;
}
/* .projectCard:nth-child(odd):hover div > img {
  transition: 0.3s ease-in-out;
  transform: rotate(4deg) scale(1.44);
  -webkit-transform: rotate(4deg) scale(1.44);
  -moz-transform: rotate(4deg) scale(1.44);
  -ms-transform: rotate(4deg) scale(1.44);
  -o-transform: rotate(4deg) scale(1.44);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.projectCard:nth-child(even):hover div > img {
  transition: 0.3s ease-in-out;
  transform: rotate(-4deg) scale(1.44);
  -webkit-transform: rotate(-4deg) scale(1.44);
  -moz-transform: rotate(-4deg) scale(1.44);
  -ms-transform: rotate(-4deg) scale(1.44);
  -o-transform: rotate(-4deg) scale(1.44);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
} */

/* projectCard */
/* cardExperience */
.cardExperience::after {
  content: "";
  position: absolute;
  border: 10px solid;
  top: 12px;
}
.cardExperience:nth-child(odd):after {
  @apply dark:border-r-[#17181c];
  border-color: transparent rgb(229 231 235) transparent transparent;
  border-color: transparent rgb(229 231 235) transparent transparent;
  left: 30px;
}
.cardExperience:nth-child(even)::after {
  border-color: transparent transparent transparent rgb(229 231 235);
  @apply dark:border-l-[#17181c];
  right: 30px;
}
/* cardExperience */

/* CV Section */
.cv {
  perspective: 1700px;
  /* transform-style: preserve-3d; */
}
.subCv {
  perspective: 1700px;
}
/* CV Section */

/* bg  */
.spotlight {
  animation: spotlight 0.6s ease-in-out 2s forwards;
  -webkit-animation: spotlight 0.6s ease-in-out 2s forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
/* bg  */

/* marked text */
.marked {
  @apply font-bold text-white;
  display: inline-block;
  position: relative;
  perspective: 90px;
}

.marked::after {
  background-color: #78aaff94;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: -1;
  transform-origin: left;
  transform: translateY(3px) scaleX(0) rotateX(30.18297deg) translateZ(3px)
    rotate(0deg);
  animation: fillBackground 1s ease-in-out 4.2s forwards;
  -webkit-animation: fillBackground 1s ease-in-out 4.2s forwards;
}

@media (prefers-color-scheme: dark) {
  .marked::after {
    background-color: #0645b1; /* Dark mode background */
  }
}

@keyframes fillBackground {
  0% {
    transform: translateY(3px) scaleX(0) rotateX(30.18297deg) translateZ(3px)
      rotate(0deg);
  }
  100% {
    transform: translateY(3px) scaleX(1) rotateX(30.18297deg) translateZ(3px)
      rotate(0deg);
  }
}

/* marked text */
